input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  background-color: #000;
  border: 1px solid #616161;
  border-radius: 0.25rem;
  /* padding: 0.5rem 0.75rem; */
  font-size: 1rem;
  line-height: 1.5;
  color: #a7a7a7;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

input[type="email"]:hover,
input[type="email"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
  border: 1px solid #6a02a7 !important;
  color: #a7a7a7;
}
